# Node dependencies
**/node_modules/
**/taskflow-backend/node_modules/
**/frontend/node_modules/
**/taskflow-backend/package.json/
**/taskflow-backend/package-lock.json/
**/frontend/package.json/
**/frontend/package-lock.json/
**/taskflow-backend/vercel.json/





# Environment files (secrets)
**/.env
**/.env.local
**/.env.*.local

# Build outputs
**/dist/
**/dist-ssr/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
*.log
